.api-tile {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: min(3vh, 1.7vw);
}