<swiper-container class="swiper" #swiperRef init="false">
  <div class="add-first-slide" *ngIf="slidesArray.length === 0 || slidesArray === undefined">
    <button class="button" (click)="onNewSlideClick()">Add first slide</button>
    </div>
  <swiper-slide *ngFor="let slide of slidesArray as array">
    <gridster class="gridster" [options]="options">
      <gridster-item [item]="item" [id]="slide.hex" *ngFor="let item of slide.grid.layout">
        <!-- your content here -->
        <button class="delete-button" (click)="onRemoveTile(slide.hex, item['id'])"><ng-icon name="heroTrash"></ng-icon></button>
        <div *ngFor="let gridItem of slide.grid.items">
          <div *ngIf="gridItem.hex === item['id'] && gridItem.content.type === 'text'">
            <!-- Render text -->
            <span>{{ gridItem.content.text }}</span>
          </div>
        </div>
        <div class="add-content-container" *ngIf="!item['hasItem']" >
          <mat-form-field class="add-content-selector">
            <mat-label>Tile item</mat-label>
            <mat-select>
              <mat-option *ngFor="let tileItem of tileItems" [value]="tileItem">
                {{tileItem}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-stroked-button class="add-content-button" (click)="onAddContent(slide.hex, item['id'])"><ng-icon name="heroPlus"></ng-icon></button>
          </div>
      </gridster-item>
    </gridster>
  </swiper-slide>
  <swiper-slide>
    <div class="chart-container" style="width: 800px; height: 600px;">
      <canvas id="test-chart">
      </canvas>
    </div>
  </swiper-slide>
</swiper-container>

<div #sidebar class="sidebar" [ngStyle]="{'right': sidebarVisible === true ? '0vw' : '-40vw'}">
  <!-- <button class="button" (click)="onResetGrid()">Reset grid</button> -->
  <button class="button" (click)="onNewSlideClick()" (keydown.space)="$event.preventDefault()">New Slide</button>
  <button class="button" (click)="onClearConfig()" (keydown.space)="$event.preventDefault()">Clear Config</button>
  <button class="button" (click)="onAddTile()" (keydown.space)="$event.preventDefault()">Add tile</button>
</div>

<style>
  .swiper {
    height: 100vh;
  }

  .gridster, swiper-slide {
    height: 100%;
  }
 
  gridster-item {
    background-color: blue;
    border: 2px solid red;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 8px;
  }

  .grid-item-remove-handle {
    background-color: green;
  }

  .button {
    width: 5rem;
    height: 5rem;
  }

  .delete-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: green;
    border-radius: 100%;
    aspect-ratio: 1/1;
    z-index: 100;
    opacity: 0;
    transition: opacity 100ms;
  }
  .add-content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 5px;
  }
  .add-content-button, .add-content-selector{
    color: black;
    background-color: white;
    float: left;
  }


  gridster-item:hover .delete-button {
    opacity: 1;
  }

  .openSidebar {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 5rem;
    height: 5rem;
    z-index: 500;
  }

  .sidebar {
    position: fixed;
    height: 100vh;
    top: 0%;
    /* right: -40vw; */
    width: 40vw;
    background-color: black;
    z-index: 1000;
    transition: right 300ms;
  }

  #test-chart {
    position: relative;
    z-index: 2;
  }
  .add-first-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lightgray;
    z-index: 1000;
  }
  .add-first-slide button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
</style>

<router-outlet></router-outlet>