<swiper-container class="swiper" #swiperRef init="false">
  <swiper-slide>
    <div class="chart-container" style="width: 800px; height: 600px;">
      <canvas id="test-chart">
      </canvas>
      <gridster [options]="gridsterOptions">
        <gridster-item [item]="item" *ngFor="let item of dashboard">
          <!-- your content here -->
        </gridster-item>
      </gridster>
    </div>
  </swiper-slide>
</swiper-container>

<div #sidebar class="sidebar" [ngStyle]="{'right': sidebarVisible === true ? '0vw' : '-40vw'}">
  <!-- <button class="button" (click)="onResetGrid()">Reset grid</button> -->
  <button class="button" (click)="onNewSlideClick()">New Slide</button>
  <button class="button" (click)="onRestoreSlidesClick()">Restore Slides</button>
</div>

<style>
  .swiper {
    height: 100vh;
  }

  ktd-grid {
    height: 100%;
  }

  ktd-grid-item {
    background-color: blue;
    border: 10px solid red;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }

  .grid-item-remove-handle {
    background-color: green;
  }

  .button {
    width: 5rem;
    height: 5rem;
  }

  .openSidebar {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 5rem;
    height: 5rem;
    z-index: 500;
  }

  .sidebar {
    position: fixed;
    height: 100vh;
    top: 0%;
    /* right: -40vw; */
    width: 40vw;
    background-color: black;
    z-index: 1000;
    transition: right 300ms;
  }

  #test-chart {
    position: relative;
    z-index: 2;
  }
</style>

<router-outlet></router-outlet>