<swiper-container class="swiper" #swiperRef init="false">
  <swiper-slide>
    <ktd-grid [cols]="cols" [rowHeight]="rowHeight" [layout]="layout" (layoutUpdated)="onLayoutUpdated($event)">
      <ktd-grid-item *ngFor="let item of layout; trackBy:trackById" [id]="item.id">
        <!-- Your grid item content goes here -->
        <h1>Text</h1>
      </ktd-grid-item>
    </ktd-grid>
  </swiper-slide>
</swiper-container>

<button class="float" (click)="onFloatClick()">Icon</button>
<swiper-slide><button class="new-slide" (click)="onNewSlideClick()">+</button></swiper-slide>

<style>
  .swiper {
    height: 100vh;
  }
  ktd-grid-item {
    background-color: blue;
    border: 10px solid red;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  .float {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 5rem;
    height: 5rem;
    z-index: 500;
  }
  .new-slide {
    position: fixed;
    bottom: 1rem;
    right: 10rem;
    width: 5rem;
    height: 5rem;
    z-index: 500;
  }
</style>

<router-outlet></router-outlet>